<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>validateSignIn</filter-name>
        <filter-class>validate.validateSignIn</filter-class>
    </filter>
    <filter>
        <filter-name>validateSignUp</filter-name>
        <filter-class>validate.validateSignUp</filter-class>
    </filter>
    <filter>
        <filter-name>validateResetPassword</filter-name>
        <filter-class>validate.validateResetPassword</filter-class>
    </filter>
    <filter>
        <filter-name>validateHomepage</filter-name>
        <filter-class>validate.validateHomepage</filter-class>
    </filter>
    <filter>
        <filter-name>filterWebJSP</filter-name>
        <filter-class>validate.filterWebJSP</filter-class>
    </filter>
    <filter>
        <filter-name>validateUserInAdmin</filter-name>
        <filter-class>validate.ValidateCreateAccountAdmin</filter-class>
    </filter>
    <filter>
        <filter-name>validateUpdateAccountAdmin</filter-name>
        <filter-class>validate.validateUpdateAccountAdmin</filter-class>
    </filter>
    <filter>
        <filter-name>privateRouterAdmin</filter-name>
        <filter-class>validate.privateRouterAdmin</filter-class>
    </filter>
    <filter>
        <filter-name>validateUpdatePermission</filter-name>
        <filter-class>validate.validateUpdatePermission</filter-class>
    </filter>
    <filter>
        <filter-name>validateCreatEvent</filter-name>
        <filter-class>validate.validateCreatEvent</filter-class>
    </filter>
    <filter>
        <filter-name>validateDataEditEvent</filter-name>
        <filter-class>validate.validateDataEditEvent</filter-class>
    </filter>
    <filter>
        <filter-name>ValidateCreateBLog</filter-name>
        <filter-class>validate.ValidateCreateBLog</filter-class>
    </filter>
    <filter>
        <filter-name>validateEditBlog</filter-name>
        <filter-class>validate.validateEditBlog</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>validateEditBlog</filter-name>
        <url-pattern>/admin/blog/edit</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidateCreateBLog</filter-name>
        <url-pattern>/admin/blog/create</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateDataEditEvent</filter-name>
        <url-pattern>/admin/event/edit</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateCreatEvent</filter-name>
        <url-pattern>/admin/event/create</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateUpdatePermission</filter-name>
        <url-pattern>/admin/role/edit</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>privateRouterAdmin</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateUpdateAccountAdmin</filter-name>
        <url-pattern>/admin/account/edit/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateUserInAdmin</filter-name>
        <url-pattern>/admin/createAccount</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterWebJSP</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateHomepage</filter-name>
        <url-pattern>/homepage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateResetPassword</filter-name>
        <url-pattern>/resetPassword</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateSignUp</filter-name>
        <url-pattern>/signUp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateSignIn</filter-name>
        <url-pattern>/signIn</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>renderAuthForm</servlet-name>
        <servlet-class>controller.client.authentication.renderAuthForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signIn</servlet-name>
        <servlet-class>controller.client.authentication.signIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>controller.client.authentication.signUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fogotPassword</servlet-name>
        <servlet-class>controller.client.authentication.fogotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitOTP</servlet-name>
        <servlet-class>controller.client.authentication.submitOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verificationOTP</servlet-name>
        <servlet-class>controller.client.authentication.verificationOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>controller.client.authentication.resetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginWithGG</servlet-name>
        <servlet-class>controller.client.authentication.loginWithGG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpwithGoogle</servlet-name>
        <servlet-class>controller.client.authentication.SignUpwithGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homepage</servlet-name>
        <servlet-class>controller.client.homepage.folder.homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.client.authentication.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creaetAccount</servlet-name>
        <servlet-class>controller.admin.manageUser.creaetAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renderDashboard</servlet-name>
        <servlet-class>controller.admin.manageUser.renderDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccount</servlet-name>
        <servlet-class>controller.admin.manageUser.deleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renderCreateForm</servlet-name>
        <servlet-class>controller.admin.manageUser.renderCreateForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rederEditFormAccount</servlet-name>
        <servlet-class>controller.admin.manageUser.rederEditFormAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAccount</servlet-name>
        <servlet-class>controller.admin.manageUser.editAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatusAccount</servlet-name>
        <servlet-class>controller.admin.manageUser.changeStatusAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rederAllPermission</servlet-name>
        <servlet-class>controller.admin.permissions.RenderAllPermission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renderListEvent</servlet-name>
        <servlet-class>controller.admin.mangageTicket.RenderListEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renderCreateRoleForm</servlet-name>
        <servlet-class>controller.admin.permissions.renderCreateRoleForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createNewRole</servlet-name>
        <servlet-class>controller.admin.permissions.createNewRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteRole</servlet-name>
        <servlet-class>controller.admin.permissions.deleteRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderFormEditRole</servlet-name>
        <servlet-class>controller.admin.permissions.RenderFormEditRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePermission</servlet-name>
        <servlet-class>controller.admin.permissions.updatePermission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createEvent</servlet-name>
        <servlet-class>controller.admin.mangageTicket.createEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderCreateEventForm</servlet-name>
        <servlet-class>controller.admin.mangageTicket.RenderCreateEventForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderDetailEvent</servlet-name>
        <servlet-class>controller.admin.mangageTicket.RenderDetailEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editEventForm</servlet-name>
        <servlet-class>controller.admin.mangageTicket.editEventForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEvent</servlet-name>
        <servlet-class>controller.admin.mangageTicket.EditEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderAllCategory</servlet-name>
        <servlet-class>controller.admin.Category.RenderAllCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategoryForm</servlet-name>
        <servlet-class>controller.admin.Category.CreateCategoryForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategory</servlet-name>
        <servlet-class>controller.admin.Category.CreateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryForm</servlet-name>
        <servlet-class>controller.admin.Category.EditCategoryForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategory</servlet-name>
        <servlet-class>controller.admin.Category.EditCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>controller.admin.Category.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderDashboardBlog</servlet-name>
        <servlet-class>controller.admin.Blog.RenderDashboardBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderCreateBlogForm</servlet-name>
        <servlet-class>controller.admin.Blog.RenderCreateBlogForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBlog</servlet-name>
        <servlet-class>controller.admin.Blog.CreateBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailBlog</servlet-name>
        <servlet-class>controller.admin.Blog.DetailBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogForm</servlet-name>
        <servlet-class>controller.admin.Blog.EditBlogForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlog</servlet-name>
        <servlet-class>controller.admin.Blog.EditBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlog</servlet-name>
        <servlet-class>controller.admin.Blog.DeleteBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryLog</servlet-name>
        <servlet-class>controller.admin.mangageTicket.HistoryLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>controller.admin.dashboard.dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailEventReport</servlet-name>
        <servlet-class>controller.admin.dashboard.detailEventReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderProfile</servlet-name>
        <servlet-class>controller.admin.Profile.RenderProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renderUpdateProfileForm</servlet-name>
        <servlet-class>controller.admin.Profile.renderUpdateProfileForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfile</servlet-name>
        <servlet-class>controller.admin.Profile.updateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renderTransactionDashboard</servlet-name>
        <servlet-class>controller.admin.dashboard.renderTransactionDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>renderAuthForm</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fogotPassword</servlet-name>
        <url-pattern>/fogotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitOTP</servlet-name>
        <url-pattern>/submitOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verificationOTP</servlet-name>
        <url-pattern>/confirmEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginWithGG</servlet-name>
        <url-pattern>/GoogleLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpwithGoogle</servlet-name>
        <url-pattern>/GoogleSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creaetAccount</servlet-name>
        <url-pattern>/admin/createAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renderDashboard</servlet-name>
        <url-pattern>/admin/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccount</servlet-name>
        <url-pattern>/admin/account/delete/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renderCreateForm</servlet-name>
        <url-pattern>/admin/account/create/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rederEditFormAccount</servlet-name>
        <url-pattern>/admin/account/editform/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAccount</servlet-name>
        <url-pattern>/admin/account/edit/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rederAllPermission</servlet-name>
        <url-pattern>/admin/permission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renderListEvent</servlet-name>
        <url-pattern>/admin/event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renderCreateRoleForm</servlet-name>
        <url-pattern>/admin/role/create/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createNewRole</servlet-name>
        <url-pattern>/admin/role/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteRole</servlet-name>
        <url-pattern>/admin/role/delete/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderFormEditRole</servlet-name>
        <url-pattern>/admin/role/edit/form/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePermission</servlet-name>
        <url-pattern>/admin/role/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createEvent</servlet-name>
        <url-pattern>/admin/event/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatusAccount</servlet-name>
        <url-pattern>/admin/status/changeStatus/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderCreateEventForm</servlet-name>
        <url-pattern>/admin/event/create/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderDetailEvent</servlet-name>
        <url-pattern>/admin/event/detail/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editEventForm</servlet-name>
        <url-pattern>/admin/event/edit/form/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEvent</servlet-name>
        <url-pattern>/admin/event/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderAllCategory</servlet-name>
        <url-pattern>/admin/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategoryForm</servlet-name>
        <url-pattern>/admin/category/create/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategory</servlet-name>
        <url-pattern>/admin/category/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryForm</servlet-name>
        <url-pattern>/admin/category/edit/form/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategory</servlet-name>
        <url-pattern>/admin/category/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/admin/category/delete/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderDashboardBlog</servlet-name>
        <url-pattern>/admin/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderCreateBlogForm</servlet-name>
        <url-pattern>/admin/blog/create/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBlog</servlet-name>
        <url-pattern>/admin/blog/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailBlog</servlet-name>
        <url-pattern>/admin/blog/detail/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogForm</servlet-name>
        <url-pattern>/admin/blog/edit/form/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlog</servlet-name>
        <url-pattern>/admin/blog/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlog</servlet-name>
        <url-pattern>/admin/blog/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryLog</servlet-name>
        <url-pattern>/admin/event/history/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailEventReport</servlet-name>
        <url-pattern>/admin/dashboard/detail/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderProfile</servlet-name>
        <url-pattern>/admin/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renderUpdateProfileForm</servlet-name>
        <url-pattern>/admin/profile/update/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfile</servlet-name>
        <url-pattern>/admin/profile/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renderTransactionDashboard</servlet-name>
        <url-pattern>/admin/dashboard/transaction/*</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>eventDetailController</servlet-name>
        <servlet-class>controller.client.event.eventDetailController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>eventDetailController</servlet-name>
        <url-pattern>/eventDetailController</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>areaDetailController</servlet-name>
        <servlet-class>controller.client.event.areaDetailController</servlet-class>
    </servlet>
    
     <servlet-mapping>
        <servlet-name>areaDetailController</servlet-name>
        <url-pattern>/areaDetailController</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>views/client/pages/authForm.jsp</welcome-file>
    </welcome-file-list>

</web-app>
