<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>validateSignIn</filter-name>
        <filter-class>validate.validateSignIn</filter-class>
    </filter>
    <filter>
        <filter-name>validateSignUp</filter-name>
        <filter-class>validate.validateSignUp</filter-class>
    </filter>
    <filter>
        <filter-name>validateResetPassword</filter-name>
        <filter-class>validate.validateResetPassword</filter-class>
    </filter>
    <filter>
        <filter-name>validateHomepage</filter-name>
        <filter-class>validate.validateHomepage</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>validateHomepage</filter-name>
        <url-pattern>/homepage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateResetPassword</filter-name>
        <url-pattern>/resetPassword</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateSignUp</filter-name>
        <url-pattern>/signUp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateSignIn</filter-name>
        <url-pattern>/signIn</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>renderAuthForm</servlet-name>
        <servlet-class>controller.client.authentication.renderAuthForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signIn</servlet-name>
        <servlet-class>controller.client.authentication.signIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>controller.client.authentication.signUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fogotPassword</servlet-name>
        <servlet-class>controller.client.authentication.fogotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitOTP</servlet-name>
        <servlet-class>controller.client.authentication.submitOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verificationOTP</servlet-name>
        <servlet-class>controller.client.authentication.verificationOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>controller.client.authentication.resetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginWithGG</servlet-name>
        <servlet-class>controller.client.authentication.loginWithGG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpwithGoogle</servlet-name>
        <servlet-class>controller.client.authentication.SignUpwithGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homepage</servlet-name>
        <servlet-class>controller.client.homepage.folder.homepage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>renderAuthForm</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fogotPassword</servlet-name>
        <url-pattern>/fogotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitOTP</servlet-name>
        <url-pattern>/submitOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verificationOTP</servlet-name>
        <url-pattern>/confirmEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginWithGG</servlet-name>
        <url-pattern>/GoogleLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpwithGoogle</servlet-name>
        <url-pattern>/GoogleSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
</web-app>
