<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>validateSignIn</filter-name>
        <filter-class>validate.validateSignIn</filter-class>
    </filter>
    <filter>
        <filter-name>validateSignUp</filter-name>
        <filter-class>validate.validateSignUp</filter-class>
    </filter>
    <filter>
        <filter-name>validateResetPassword</filter-name>
        <filter-class>validate.validateResetPassword</filter-class>
    </filter>
    <filter>
        <filter-name>validateHomepage</filter-name>
        <filter-class>validate.validateHomepage</filter-class>
    </filter>
    <filter>
        <filter-name>filterWebJSP</filter-name>
        <filter-class>validate.filterWebJSP</filter-class>
    </filter>
    <filter>
        <filter-name>validateUserInAdmin</filter-name>
        <filter-class>validate.ValidateCreateAccountAdmin</filter-class>
    </filter>
    <filter>
        <filter-name>validateUpdateAccountAdmin</filter-name>
        <filter-class>validate.validateUpdateAccountAdmin</filter-class>
    </filter>
    <filter>
        <filter-name>privateRouterAdmin</filter-name>
        <filter-class>validate.privateRouterAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>privateRouterAdmin</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateUpdateAccountAdmin</filter-name>
        <url-pattern>/admin/account/edit/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateUserInAdmin</filter-name>
        <url-pattern>/admin/createAccount</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filterWebJSP</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateHomepage</filter-name>
        <url-pattern>/homepage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateResetPassword</filter-name>
        <url-pattern>/resetPassword</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateSignUp</filter-name>
        <url-pattern>/signUp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validateSignIn</filter-name>
        <url-pattern>/signIn</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>renderAuthForm</servlet-name>
        <servlet-class>controller.client.authentication.renderAuthForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signIn</servlet-name>
        <servlet-class>controller.client.authentication.signIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>controller.client.authentication.signUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fogotPassword</servlet-name>
        <servlet-class>controller.client.authentication.fogotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitOTP</servlet-name>
        <servlet-class>controller.client.authentication.submitOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verificationOTP</servlet-name>
        <servlet-class>controller.client.authentication.verificationOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>controller.client.authentication.resetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginWithGG</servlet-name>
        <servlet-class>controller.client.authentication.loginWithGG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpwithGoogle</servlet-name>
        <servlet-class>controller.client.authentication.SignUpwithGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homepage</servlet-name>
        <servlet-class>controller.client.homepage.folder.homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.client.authentication.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creaetAccount</servlet-name>
        <servlet-class>controller.admin.manageUser.creaetAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renderDashboard</servlet-name>
        <servlet-class>controller.admin.manageUser.renderDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccount</servlet-name>
        <servlet-class>controller.admin.manageUser.deleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renderCreateForm</servlet-name>
        <servlet-class>controller.admin.manageUser.renderCreateForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rederEditFormAccount</servlet-name>
        <servlet-class>controller.admin.manageUser.rederEditFormAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAccount</servlet-name>
        <servlet-class>controller.admin.manageUser.editAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatusAccount</servlet-name>
        <servlet-class>controller.admin.manageUser.changeStatusAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>renderAuthForm</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fogotPassword</servlet-name>
        <url-pattern>/fogotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitOTP</servlet-name>
        <url-pattern>/submitOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verificationOTP</servlet-name>
        <url-pattern>/confirmEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginWithGG</servlet-name>
        <url-pattern>/GoogleLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpwithGoogle</servlet-name>
        <url-pattern>/GoogleSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creaetAccount</servlet-name>
        <url-pattern>/admin/createAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renderDashboard</servlet-name>
        <url-pattern>/admin/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccount</servlet-name>
        <url-pattern>/admin/account/delete/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renderCreateForm</servlet-name>
        <url-pattern>/admin/account/create/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rederEditFormAccount</servlet-name>
        <url-pattern>/admin/account/editform/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAccount</servlet-name>
        <url-pattern>/admin/account/edit/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatusAccount</servlet-name>
        <url-pattern>/admin/status/changeStatus/</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>renderAuthForm</welcome-file>
    </welcome-file-list>
</web-app>
