@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


* {
    font-family: 'Arial', sans-serif;
}


body {
    text-align: center;
}

.love-text {
    margin-top: 20px;
    color: #fafbfb;
    line-height: 1.2em;
    .desc {
        font-size: 0.75em;
        color: #d32f2f
    }
}

.container {
    border: 4px solid #9199a5;
    border-radius: 35px;

    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    height: 852px;
    width: 1406px;

    position: relative;
    z-index: 100;

    .content {
        background: #fafbfb;
        display: flex;

        border: 23px solid #1e2026;
        border-radius: 35px - 3px;

        height: 852px - 46px;
        width: 1406px - 46px;
    }
}

.sidebar {
    background: #0068ff;
    position: relative;
    border-top-left-radius: 35px - 26px;
    border-bottom-left-radius: 35px - 26px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    width: 65px;
    height: 100%;

    .logo .icon {
        font-size: 3em;
        color: #fafbfb;

        top: 16px;
        left: 12px;

        position: absolute;
        z-index: 100;
    }

    nav {
        position: relative;

        .menu-options {
            color: #bbc3c9;
            font-size: 1.25em;
            list-style: none;

            li {
                border-radius: 5px;

                padding: 8px;
                box-sizing: border-box;
                margin: 10px;

                &.selected,
                &:hover {
                    background: darken(#0068ff, 20%);
                    color: #fafbfb;
                }

                &:hover {
                    cursor: pointer;
                }
            }
            .icon {
                font-size: inherit;
            }
        }
    }

    .more-options {
        position: absolute;
        bottom: 16px;
        color: #bbc3c9;
        font-size:  1.5em;
    }
}

.main-content {
    width: 100%;
    height: 100%;
    background: lighten(#9199a5, 30%);

    border-top-right-radius: 35px - 26px;
    border-bottom-right-radius: 35px - 26px;

    .app {
        display: flex;
        flex-direction: column;

        header.sub-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;

            background: #fafbfb;
            box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 0.38);
            border-top-right-radius: 35px - 26px;

            height: 70px;

            .title {
                font-weight: bold;
                margin-left: 20px;
            }

            .menu {
                display: flex;
                list-style: none;
                height: 100%;

                li {
                    margin: 0 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 0.75em;
                    color: lighten(#565d68, 10%);
                    display: flex;
                    align-items: center;

                    &.selected, &:hover {
                        color: #0068ff;
                        position: relative;

                        &::after {
                            content: "";
                            border-bottom: 5px solid #0068ff;

                            position: absolute;
                            bottom: 0;

                            width: 100%;
                        }
                        .badge {
                            background: #0068ff;
                            color: #fafbfb;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    .badge {
                        border-radius: 8px;

                        padding: 4px 5px;
                        margin: 0 5px;
                        background: #bbc3c9;

                        color: lighten(#565d68, 25%);
                        font-size: 12px;

                        height: 12px;
                        width: 15px;
                    }
                }
            }

            .user-options {
                display: flex;
                margin-right: 16px;

                .icon {
                    margin: 0 8px;
                    padding: 10px;
                    border-radius: 5px;
                    box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 0.38);
                    position: relative;

                    &.user-img {
                        padding: 0;
                        border: none;
                        img {
                            border-radius: 5px;
                        }
                    }

                    .badge {
                        position: absolute;
                        top: -10px;
                        right: -8px;
                        border-radius: 50%;
                        background: #ec407a;
                        color: #fafbfb;
                        font-size: 12px;
                        padding-top: 5px;
                        width: 20px;
                        height: 15px;
                    }
                }
            }
        }

        .app-content {
            margin: 20px;
            background: #fafbfb;
            border-radius: 5px;
            height: 716px;

            header {
                margin: 20px;
                display: flex;
                justify-content: space-between;

                .searchbox {
                    display: flex;
                    padding: 10px;
                    background: lighten(#9199a5, 33%);
                    border-radius: 5px;
                    width: 200px;
                    .icon {
                        color: #9199a5;
                        margin: 0 5px;
                    }

                    input.search-text {
                        border: none;
                        background: inherit;
                        font-size: 0.75em;
                        font-weight: 600;
                        outline: none;
                    }
                }
            }
        }
    }
}

.app-content {
    header .app-list-options {
        display: flex;
        justify-items: center;
        align-items: center;

        .sort-dropdown {
            display: flex;
            border: 1px solid #bbc3c9;
            border-radius: 5px;
            padding: 12px;
            color: #bbc3c9;
            font-size: 0.75em;
            font-weight: 600;
            .by,
            i {
                color: #1e2026;
                margin-left: 5px;
            }
            .drop {
                border-left: 1px solid #bbc3c9;
                margin-left: 10px;
            }
        }

        .icon {
            margin: 0 10px;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 0.38);
            position: relative;
            color: #bbc3c9;

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &.selected {
                background: lighten(#565d68, 50%);
                color: lighten(#565d68, 20%);
            }
        }

        .display-group {
            display: flex;
            .icon {
                margin-right:0;
                margin-left: 0;
            }
        }
    }
}

.projects {
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    margin: 10px;
    height: 630px;
    overflow-y: scroll;

    .project-item {
        padding: 16px;
        margin: 12px;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;

        text-align: left;

        border-radius: 5px;
        box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 0.38);
        user-select: none;

        width: 360px;

        .logo-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                border-radius: 8px;
                display: block;
            }

            .icon {
                color: #bbc3c9;
            }
        }

        .title-row {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            margin: 20px 0 10px;

            h3 {
                font-weight: bold;
            }

            .links {
                display: flex;
                align-content: center;

                padding: 8px 0;

                color: lighten(#565d68, 20%);
                font-size: 0.75em;

                .icon {
                    margin-right: 5px;
                }

                a {
                    color: lighten(#565d68, 20%);
                    text-decoration: none;
                }
            }
        }

        .desc-row {
            color: lighten(#565d68, 20%);
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
        }

        .progress-row {
            display: flex;
            flex-direction: column;
            margin: 20px 0;

            p.value-label {
                display: block;
            }

            p[data-value] {
                position: relative;
            }

            p[data-value]:after {
                content: attr(data-value) "%";
                color: lighten(#565d68, 20%);
                font-size: 12px;
                position: absolute;
                display: block;
                right: -10px;
            }

            progress {
                display: block;
                position: relative;
                width: 100%;
                margin-top: 20px;
                -webkit-appearance: none;
                height: 6px;
            }

            progress::-webkit-progress-bar {
                background-color: lighten(#bbc3c9, 10%);
                border-radius: 5px;
            }

            ::-webkit-progress-value {
                background-color: #17c993;
                border-radius: 5px;
            }

            .low::-webkit-progress-value {
                background-color: #ec407a;
            }
        }

        .footer-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .days {
                padding: 8px 5px;
                border-radius: 4px;
                background: #bbc3c9;
                font-size: 12px;

                color: #565d68;
                background: lighten(#565d68, 50%);

                &.good {
                    color: #4caf50;
                    background: lighten(#4caf50, 50%);
                }

                &.warning {
                    color: #565d68;
                    background: lighten(#fb8c00, 40%);
                }

                &.danger {
                    color: #d32f2f;
                    background: lighten(#d32f2f, 40%);
                }
            }

            .users {
                img {
                    border-radius: 3px;
                    margin: 0 2px;
                }
            }
        }
    }
}

.fab-icon {
    position: absolute;
    z-index: 1000;
    bottom: 50px;
    right: 50px;
    color: #fafbfb;
    background: #0068ff;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    font-size: 3em;
    box-sizing: border-box;
    box-shadow: 10px 10px 73px 12px rgba(0, 104, 255, 0.35);
    width: 60px;
    height: 60px;

    &:hover {
        cursor: pointer;
    }
}